<div class="text-center">
    <h2>Actors</h2>
</div>

<% if !creative? %>
    <%= render "shared/index", contacts: @actors %>
<% else %>
    <%= render  "shared/association_index", contacts: @actors %>        
    <p class="container text-center">* Indicates an auditioner in your tracked auditions</p>
<% end %>
