<div class="container text-center">
    <h2><%=@actor.name%></h1>
</div>

<div class="container text-center">
    <h3>You have tracked <%=link_to pluralize(@actor.auditions.count, 'audition'), actor_auditions_path(@actor), class:"text-decoration-none"%>.</h3>
</div>