<%= render  "/shared/contact_show", contact: @actor, projects: nil || @projects %>


<% if owner? %>
    <div class="text-center">
    <%= link_to  "Edit Info", edit_actor_path, class:"text-decoration-none" %>
    </div>
<% end %>

<% if @audition %>
    <div class="text-center">
        <%= link_to "View Tracked Audition", audition_path(@audition), class:"btn btn-outline-primary btn-sm" %>
    </div>
<% end %>

