<div class="text-center">
    <h2><%= @actor.name %></h2>
    <p><strong>Email:</strong> <%= @actor.email %></p>
    <p><strong>Phone Number:</strong>  <%= @actor.phone_number %></p>
</div>

<% if owner? %>
    <div class="text-center">
    <%= link_to  "Edit Info", edit_actor_path %>
    </div>
<% end %>

