<p><strong>Type:</strong> <%= @audition.project.medium %></p>

<% if @audition.location %>
    <p><strong>Location:</strong>  <%= @audition.location %></p>
<% end %>
<p><strong>Time:</strong>  <%= @audition.time.strftime("%l:%M%P %A, %B %e") %></p>