<div class="container text-center">
    <h1>Tracked Auditions</h1>
</div>



<div class="d-flex justify-content-center">
<% if current_user_model == Actor %>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <% @auditions.each do |audition|%>
                <div class="col-4">
                    <%= render  "show", :@audition => audition %>   
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <% @projects.each do |project|%>
            <% if !project.auditions.empty? %>  
                <div class="project-auditions col-4 border rounded m-1">
                    <h4 class="text-center"><%=project.title%></h4>
                    <ul>
                    <%project.auditions.each do |audition|%>
                        <li><%= link_to  audition.actor.name, audition_path(audition), class:"text-decoration-none" %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
    <% end %>
<% end %>
</div>
<div class="container d-flex justify-content-center">
    <%= link_to  "Track New Audition", "/#{current_user_model.to_s.downcase}s/#{current_user.id}/auditions/new", class:"btn btn-outline-primary btn-block w-50" %>
</div>

