<% if flash[:error]%>
    <div id="errors">
        <%= flash[:error] %>
    </div>
<% end %>


<div class="index">
    <h1><%= @user.name%>'s Auditions</h1>
    
    <ul>
    <% @auditions.each do |audition|%>
        <li><h3><strong>Project: </strong><%= link_to  audition.project.title, audition_path(audition) %></h3>
        </li>
    <% end %>
    </ul>

    <div class="owner_links">
        <%# <%= link_to  "Add Audition", new_actor_audition_path(@actor.id) %> %>
    </div>

</div>