<div class="container text-center">
    <h2>Directors</h2>
</div>

<% if !creative? %>
    <%= render  "shared/association_index", contacts: @directors %>  
    <p class="container text-center">* Indicates a Director in your tracked auditions</p>  
<% else %>
    <%= render "shared/index", contacts: @directors %>
<% end %>
