<%= render  "/shared/contact_show", contact: @director, projects: nil || @projects %>


<% if owner? %>
    <div class="text-center">
    <%= link_to  "Edit Info", edit_director_path(@director), class:"text-decoration-none" %>
    </div>
<% end %>

<% if @audition %>
    <%= render  "auditions/button_link" %>
<% end %>
