<h2 class= "container text-center">Casting Directors</h2>
<% if !creative? %>
    <%= render  "shared/association_index", contacts: @castings %> 
    <p class="container text-center">* Indicates a Casting Director in your tracked auditions</p>
       
<% else %>
    <%= render "shared/index", contacts: @castings %>
<% end %>