<h2 class= "container text-center">Casting Directors</h2>
<% if !creative? %>
    <div class="d-flex justify-content-center">
        <ul>
        <% @casting.each do |cd|%>
            <li><%= link_to  cd.name, casting_path(cd) %>
            <% if current_user.castings.include?(cd) %>
                *
            <% end %>
            </li>
        <% end %>
        </ul>
    </div>
    <p class ="text-center">* Indicates a Casting Director for a Project in your tracked auditions</p>
<% else %>
    <div class="d-flex justify-content-center">
        <ul>
        <%@casting.each do |cd|%>
            <li><%= link_to  cd.name, casting_path(cd) %></li>
        <% end %>
        </ul>
    </div>
<% end %>