
<%= render  "/shared/contact_show", contact: @casting, projects: nil || @projects %>

<% if owner? %>
    <div class="container text-center">
    <%= link_to  "Edit Info", edit_casting_path(@casting), class:"text-decoration-none" %>
    </div>
<% end %>

<% if @auditions %>
    <%= render  "auditions/button_link" %>
<% end %>