<div>
    <h1>Projects Currently Casting</h1>

    <div>
        <ul>
        <%@projects.each do |project|%>
            <li><h3><%=project.title%>(<%=project.medium %>)</h3>
            <p>Director: <%=project.director.name %></p>
            <p>Casting Director: <%=project.casting_director.name%></p>
            </li>
        <% end %>
        </ul>
    </div>
</div>