<div class="container text-center">
    <h2>Welcome to Audition Tracker</h2>
    <h5>Please <%= link_to  "Sign In", new_session_path, class:"text-decoration-none" %> or <%= link_to  "Sign Up", '/signup', class:"text-decoration-none" %></h5>
</div>