#logo {
    width: 5em;   
}

.audition-card:hover {
    cursor: pointer;
    border: solid 1px rgb(100, 100, 100);
}

.TV {
    background-color: #4D6CFA !important;
}

.Film {
    background-color: #F038FF !important;
}

.Theater {
    background-color: #70E4EF !important;
}
